           Assignment - 1

Question .1

a =(3113,3421 ,1232.344 , "aniket")

type(a)

Question .2

In [7]:
var4=1.

In [8]:
type(var4)

float

Question . 3

(1) /  -  the '/' operator is primarily used for division. It performs division between two numbers and returns the quotient as a floating-point number , below is example .

In [11]:
100/10

10.0

(2)% - he symbol '%' is used as the modulus operator. It is an arithmetic operator that returns the remainder when one number is divided by another, below is some example .

In [12]:
125%5

0

In [13]:
123%5

3

(3) //-'//' is used as the floor division operator. It performs division between two numbers and returns the quotient as an integer, rounded down towards negative infinity, below some example.

In [14]:
443//6

73

In [15]:
5//4

1

(4)** -'**' operator is used for exponentiation, which raises a number to a power. It calculates the value of the left operand raised to the power of the right operand , below some example.

In [16]:
1**3

1

In [18]:
2**3

8

Question . 4

In [24]:
my_list = [16, "ANIKET", 3.14, True, [1, 2, 3], {"name": "Anee", "age": 24}, None , False, 10.5]

for a in my_list:
    print(f"Element: {element}, Data Type: {type(a)}")

Element: 10.5, Data Type: <class 'int'>
Element: 10.5, Data Type: <class 'str'>
Element: 10.5, Data Type: <class 'float'>
Element: 10.5, Data Type: <class 'bool'>
Element: 10.5, Data Type: <class 'list'>
Element: 10.5, Data Type: <class 'dict'>
Element: 10.5, Data Type: <class 'NoneType'>
Element: 10.5, Data Type: <class 'bool'>
Element: 10.5, Data Type: <class 'float'>

Question .5

In [28]:
a = 1000
b = 2
count = 0

while a % b == 0:
    a = a / b
    count += 1

print(f"{count} times")

3 times

Question .5

In [43]:
l = [21,34,56,24,53,56,78,3,4,5,6,1,67,86,456,7865,32234,6767,2446,786454,664,77654,7,456,98765]

for k in l:
    if k % 3 == 0:
        print(f"{k} is divisible by 3")
    else:
        print(f"{k} is not divisible by 3")

21 is divisible by 3
34 is not divisible by 3
56 is not divisible by 3
24 is divisible by 3
53 is not divisible by 3
56 is not divisible by 3
78 is divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
1 is not divisible by 3
67 is not divisible by 3
86 is not divisible by 3
456 is divisible by 3
7865 is not divisible by 3
32234 is not divisible by 3
6767 is not divisible by 3
2446 is not divisible by 3
786454 is not divisible by 3
664 is not divisible by 3
77654 is not divisible by 3
7 is not divisible by 3
456 is divisible by 3
98765 is not divisible by 3

Question .7

Mutable - Mutable data types in Python are objects whose values can be changed after they are created. This means that the state of a mutable object can be modified by directly altering its properties or elements. Example is below

In [44]:
l =[3,5,7,85,745,43,875,"aniket",True , 43.75]

In [45]:
l

[3, 5, 7, 85, 745, 43, 875, 'aniket', True, 43.75]

In [48]:
l[6]=300

In [49]:
l

[3, 5, 7, 85, 745, 43, 300, 'aniket', True, 43.75]

Immutable -An immutable object refers to an object whose state cannot be changed once it is created. Immutable objects are known for their unalterable nature, meaning that any attempt to modify an immutable object will result in the creation of a new object with the desired changes, rather than modifying the original object itself. Examble is below

In [50]:
a = "aniket"

In [51]:
a[5]='h'

TypeError: 'str' object does not support item assignment